html {
    font: 1.1em/1.4 Helvetica, sans-serif;
}

body {
    background-image: url(https://lh3.googleusercontent.com/H3og4B0e84jmYFqK31_-PzfommmtJwJzMg4NTa72sPklrekTCAalSn6Wh76Zjrr2Awrry9Xv996brW6IB0oAQkgyzD0MSpIXMvo71FPnXn419fYaBqEcYfbo-Kzn9PsnpCRVIuVX4E_qJN5w3nvxc5LcB39vC5_lrtk7vgTxIHJtrBcqkJh9miZjzFbwSiAxy10PTn_uoxgQUuO1ouU43ex1cMjm57zoJxB3Sr86z-wQxVzgKYVDVEFV5HO_KFueye1UwMiujIdPX5RXKO3X45bhaqvoBg-_NurQKGNFAMJG1M5q1mnTC3L8OgEzevfqrwZeM3Xib1S89w52Dkj_y7LEUAY_-P4R-AZTOvSYKY775YWlCk0AuIbgZnEjv-Of_GNbgwFhUvmNKFITiQqRuJ79JMF3YLM3WrGUryHCIYbUF0RAosQNsZmE3U413i5zN68k8p4xfFlvCh1QBGy0qus1M1pED1Uz5OQoBIu1s-hM8IZKbQNolnYkrC2OIV8wbQdvTz81GUxgrFHUGOha6QiyYTGTmhbyt_zF4g3fS-l1QfjnqO_YavcsnuK_0thUyvnADrHg0cQ7lOLLstc9KWa9dqSh6tlfJKsyeICYGmblqsoHRiEtopVxpUyi4xuDVwv2RAV4TeOuHlu-lbvMASq-gHKdLm2u6-mSKQxoWUu9R_NiriabZ6whDuhFX1sX1Qs_ZFV6KLHzBYCuBkuDw2w=w623-h1349-no?authuser=0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 0.95;
}

.grid {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(80px, auto) / 1fr 1fr;
    grid-template-columns: 1fr;
    border-radius: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 10px;
    gap: 0px;
    grid-template-areas:
        "header header"
        "article aside"
        "footer footer"
}

    .grid > * {
        padding: 15px;
    }

    *, *::after, *::before {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }



header {
    margin-bottom: 20px;
    grid-area: header;
    width: 100%;
    max-height: 130px;
    display: grid;
    position: sticky;
    top: 0;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1%;
    z-index: 3;
    box-shadow: rgb(143 0 0) 0px 4px 14px;
    background-color: rgb(56 30 30);
    opacity: 0.97;
    
}

#list {
    display: grid;
    grid-auto-flow: row;
    font-style: oblique;
    text-align: center;
    max-height: 80%;
    align-items: center;
}

    #list > a {
        text-decoration: none;
        font-size: 1.3em;
        border-radius: 5px;
        margin: 7px;
        max-width: 650px;
    }

    .logo {

    }

#logo {
    height: 5em;
    width: 5em;
    float: left;
    border-radius: 20px;
}

.form {
    height:100%;
    width: 100%;
    padding-left: 10%;
    padding-top: 5%;
    display: grid;
}

.place {
    border-color: rgb(247 0 0);
    background-color: rgb(113 27 27);
    border-radius: 5px;
    color: cornsilk;
    max-width: 80%;
    max-height: 80%;
    font-size: 20px;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

.place:hover {
    text-shadow: 1px 1px 5px rgb(219 135 135);
    box-shadow: rgb(224 205 207) 0px 0px 3px 1px;
    background-color: rgb(182 21 21);
}

.butres {
    border: none;
    background-color: rgb(160 0 0);
    border-radius: 5px;
    color: rgb(227 154 94);
    font-size: 1em;
    padding: 5px;
    cursor:pointer;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

.butser {
    border: none;
    background-color: rgb(160 0 0);
    border-radius: 5px;
    color: rgb(227 154 94);
    font-size: 1em;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

    .butser:hover {
        text-shadow: 1px 1px 5px rgb(219 135 135);
        box-shadow: rgb(224 205 207) 0px 0px 3px 1px;
        background-color: rgb(182 21 21);
    }

.butres:hover {
    text-shadow: 1px 1px 5px rgb(219 135 135);
    box-shadow: rgb(224 205 207) 0px 0px 3px 1px;
    background-color: rgb(182 21 21);
}

#life {
    text-shadow: 2px 2px 5px rgb(39 6 6);
    box-shadow: rgb(113 72 77) 0px 0px 3px 2px;
    color: rgb(219 191 115);
    background: linear-gradient(to top right,rgb(83 14 14), rgb(182 0 0));
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

#events {
    text-shadow: 2px 2px 5px rgb(255 104 104);
    box-shadow: rgb(113 72 77) 0px 0px 3px 2px;
    color: rgb(63 0 0);
    background: linear-gradient(to top right,rgb(182 0 0), rgb(226 76 2));
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

#life:hover {
    text-shadow: 1px 1px 5px rgb(219 135 135);
    box-shadow: rgb(224 205 207) 0px 0px 3px 2px;
}

#events:hover {
    text-shadow: 2px 2px 5px rgb(82 19 19);
    box-shadow: rgb(224 205 207) 0px 0px 3px 2px;
}



article {
    grid-area: article;
    display: grid;
    grid-template-columns: minmax(40px, 2fr);
    grid-template-rows: minmax(60px, 0.9fr);
    gap: 1%;
    margin-bottom: 50px;
    z-index:0;
}

    article > div {
        border-radius: 19px;
        height: auto;
    }

.parsos {
    position: relative;
    padding: 0px 0px 30% 0px;
}

.sosna {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100%;
    max-width: 100%;
    border: none;
    object-fit: cover;
    position:absolute;
    top: 0px;
    left: 0px;
    padding-bottom:50px;
}

.flowers {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    max-height: 100%;
    max-width: 100%;
    border: none;
}

.sneg {
    background-image: url(https://static4.depositphotos.com/1014956/325/i/600/depositphotos_3252217-stock-photo-snow-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    padding: 15px;
    opacity: 0.99;
    margin-bottom: 7vw;
}

.dusha {
    background-image: url(https://lh3.googleusercontent.com/DDoVithN_vBvGHviurHoLVGb7t6h5K2gUxc5Ozw5dfuykVNEHJG96IX6M44CGVj67zyiWXwXr6EfC1FJxumXXOIqhWmV90DDxp-MWI3X9vodfqKPWGphqspzho8dP3mFaX_XxkzB0UStyPOe2xq7o0fZPXZlLXDUaIuxhCFDyMeJ3vCUXHEE_nDQqgQmk5xkpeqzJjNtWB55dtQWZqgZ1hjfirWWM_5w7ljAeEcMadtWm7qbCbIKstGhHYioJRTwjh1fPrJ-dXzxlBTSTBqFEekq52oI02Ea0qAJQHuiRQ8g8-tg4lqNqCZ_7nlq-bAdqbN7nBbxfGT56NNOJqb9sdAbP0OXKMCmh705qPMs8kZfoQx5-wwMFRe9hOJFlBocaOK_ZYqeKFeqTfTfzyQwKXIZCIbIi6b4wIUZQSJbCsYE7ohTl0n9r3Dzeyr8dQiaoda6DPOHk1Z8b0rdK9JcBDU5ObrpoL9DRcrSRkTeHHca9gPh3YWqJOEnoFWFCbFOS3uTxDfFcWr5NH5lFsuQ65nw2cbVOe4_Xz-UlYrWEaRCYrSE9XkJzJrIenWinF7PXex0y85ap6e6njgsIGgeefrKCLUA7_iXr_CtvMce9tNCj6zDXYtb01IezGwYCHvgP7v7TbjHQ2cjhs7el9oyhWwFd1zHYiSderdRMvmr0BgHcUTxWaadM_TM8VCRZ1XW-2ig0WEvjMgBO4l7FHQV-b8=w1323-h611-no?authuser=0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    padding: 15px;
    opacity: 0.99;
    color: rgb(250 222 173);
}

#sneg, #dusha {
    font-size: 2.5vw;
    font-weight: bold;
}

#textst {
    font-size: 1.5vw;
}

.button {
    background-color: rgb(162 244 230);
    font-size: 2vw;
    color: rgb(0 22 98);
    border: 1px solid;
    border-radius: 5px;
    padding: 1%;
    margin: 7px;
    cursor: pointer;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

    .button:hover {
        color: rgb(8 0 98);
        text-shadow: 1px 1px 5px rgb(24 9 38);
        box-shadow: rgb(0 60 174) 0px 0px 3px 0.5px;
        background-color: rgb(38 124 199);
    }

.button2 {
    background-color: rgb(244 242 162);
    font-size: 2vw;
    color: rgb(76 0 98);
    border: 1px solid;
    border-radius: 5px;
    padding: 1%;
    margin: 7px;
    cursor: pointer;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

    .button2:hover {
        color: rgb(135 9 138);
        text-shadow: 1px 1px 5px rgb(24 9 38);
        box-shadow: rgb(220 190 113) 0px 0px 3px 0.5px;
        background-color: rgb(252 211 96);
    }



aside {
    margin-bottom: 50px;
    grid-area: aside;
    background: linear-gradient(30deg,rgb(38 2 2), rgb(64 1 1), rgb(141 0 0));
    max-width: 15vw;
    opacity: 0.9;
    box-shadow: rgb(49 40 88) 0px 0px 5px 5px;
    border-radius: 15px;
    z-index:0;
}

.h1 {
    font-size: 2vw;
}

.states {
    font-size: 1.1vw;
    font-style: italic;
    color: rgb(255 161 0);
}

.pstates {
    margin-bottom: 1em;
}

#form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(39 28 40);
    padding: 5px;
    border-radius: 7px;
    box-shadow: rgb(26 128 133) 0px 0px 5px 1px;
    color: rgb(119 183 219);
    padding: 5px;
    max-width: 90%;
    min-height: 50px;
    max-height: 200px;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

#form:hover {
    box-shadow: rgb(224 205 207) 0px 0px 5px 1px;
}

    #form > p {
        flex: 1 1 auto;
        font-size: 1.3vw;
        cursor: default;
    }

.h1place {
    flex: 1 1 auto;
    border-color: rgb(47 47 255);
    background-color: rgb(254 219 255);
    border-radius: 5px;
    color: rgb(0 39 146);
    max-width: 100%;
    max-height: 80%;
    font-size: 1.3vw;
    padding: 2px;
    margin-bottom: 10%;
    margin-top: 5px;
    border-width: 0.1em;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

    .h1place:hover {
        background-color: rgb(255 244 212);
        border-color: rgb(151 12 12);
        box-shadow: rgb(19 19 118) 0px 0px 5px 0.4px;
    }

.h1but {
    flex: 1 1 auto;
    border-color: rgb(255 161 0);
    background-color: rgb(151 12 12);
    border-radius: 5px;
    border-width: 0.1em;
    color: rgb(255 213 0);
    font-size: 1.3vw;
    padding: 2px;
    cursor: pointer;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.3s;
}

    .h1but:hover {
        background-color: rgb(78 25 25);
        color: rgb(255 99 0);
        border-color: rgb(255 161 0);
    }

.cont {
    display: flex;
    gap: 40px;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-direction: row;
    flex: 1fr;
}



footer {
    grid-area: footer;
    text-align: center;
    font-size: 1em;
    max-height: 12em;
    border-top: 3px dashed rgb(88 88 88);
    box-shadow: rgb(29 9 9) 0px -6px 10px;
    background-color: rgb(88 88 88);
    opacity: 0.85;
}



@media (max-width: 768px) {
    header {
        max-width:100%;
    }

    #list {
        display: grid;
        grid-auto-flow: row;
        font-style: oblique;
        text-align: center;
        max-height: 80%;
        align-items: center;
    }

        #list > a {
            text-decoration: none;
            font-size: 1.3em;
            border-radius: 5px;
            margin: 7px;
            max-width: 650px;
        }

    #logo {
        height: 5em;
        width: 5em;
        float: left;
        border-radius: 20px;
    }

    .form {
        max-height: 100%;
        max-width: 100%;
        padding-left: 10%;
        padding-top: 5%;
        display: grid;
    }

    .place {
        max-width: 9em;
        max-height: 5em;
        font-size: 3vw;
        margin-bottom:5px;
    }

    .butres {
        font-size: 3vw;
        padding: 2px;
    }

    .butser {
        font-size: 3vw;
        padding: 2px;
    }

    *, *::after, *::before {
        box-sizing: border-box;
    }

    #life {
        text-shadow: 2px 2px 5px rgb(39 6 6);
        box-shadow: rgb(113 72 77) 0px 0px 3px 2px;
        color: rgb(219 191 115);
        background: linear-gradient(to top right,rgb(83 14 14), rgb(182 0 0));
        -webkit-transition: 0.9s;
        -o-transition: 0.9s;
        transition: 0.3s;
    }

    #events {
        text-shadow: 2px 2px 5px rgb(255 104 104);
        box-shadow: rgb(113 72 77) 0px 0px 3px 2px;
        color: rgb(63 0 0);
        background: linear-gradient(to top right,rgb(182 0 0), rgb(226 76 2));
        -webkit-transition: 0.9s;
        -o-transition: 0.9s;
        transition: 0.3s;
    }



    .sosna {
        position:inherit;
        height:auto;
        width:100%;
    }

    .cont {
        display: flex;
        gap: 40px;
        padding-left: 1vw;
        padding-right: 1vw;
        flex-direction: column;
        flex: 1fr;
    }

    #sneg {
        font-size: 2em;
    }

    #dusha {
        font-size: 2em;
    }

    #textst {
        font-size: 1em;
    }

    aside {
        margin-bottom: 50px;
        grid-area: aside;
        background: linear-gradient(30deg,rgb(38 2 2), rgb(64 1 1), rgb(141 0 0));
        max-width: 100%;
        opacity: 0.9;
        box-shadow: rgb(49 40 88) 0px 0px 5px 5px;
        border-radius: 15px;
        z-index: 0;
        padding:2vw;
    }

    .h1 {
        font-size: 4vw;
    }

    .states {
        font-size: 1em;
        font-style: italic;
        color: rgb(255 161 0);
    }

    #form {
        display: flex;
        max-width: 40%;
        min-height: 50px;
        max-height: 150px;
    }

    .h1place {
        flex: 1 1 auto;
        font-size: 3vw;
        padding: 2px;
    }

    .h1but {
        flex: 1 1 auto;
        font-size: 3vw;
        padding: 2px;

    }

    #form > p {
        flex: 1 1 auto;
        font-size: 4vw;
    }
}